<!DOCTYPE html>
<html>
<head>
    <title>ADST SF2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ asset('favicon.ico') }}" />
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/app.css') }}" rel="stylesheet" media="screen">
    <script src="{{ asset('js/app_header.js') }}"></script>
</head>

<body>
{% include ':default:navbar.html.twig' %}
<div class="container-fluid">
    <div class="row">
        {% block body %}
        {% endblock %}
    </div>
</div>
<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
</body>
</html>
