{% for provider, torrent in bestTorrent %}
    <h4>{{ provider }}</h4>
    <a href="{{ torrent.magnet }}">{{ show }} {{ number }}</a> ({{ torrent.seeder }})
{% endfor %}
{% if not downloaded %}
    {% set downloadedTxt = 'Downloaded' %}
{% else %}
    {% set downloadedTxt = 'Not Downloaded' %}
{% endif %}
<br/>
<a class="toggleDownloaded" data-downloaded="{{ downloaded }}" data-serie="{{ url }}" data-season="{{ season }}"
   data-episode="{{ episode }}">{{ downloadedTxt }}</a>
