{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>Serie</th>
                <th>Season</th>
                <th>Episode</th>
                <th>Torrent</th>
                <th>Subtitle</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for episode in episodes %}
                <tr class="{% if episode.downloaded %}bg-success{% else %}bg-danger{% endif %}">
                    <td><h4>{{ episode.show }}</h4> {{ episode.title }}</td>
                    <td>{{ episode.season }}</td>
                    <td>{{ episode.episode }}</td>
                    <td>{{ render_hinclude(controller('FabexAppBundle:Default:getTorrentLinks', {'show': episode.show, 'number': episode.number, 'downloaded': episode.downloaded, 'season': episode.season, 'episode': episode.episode, 'url': episode.url})) }}</td>
                    <td>{{ render_hinclude(controller('FabexAppBundle:Default:getSubtitleLinks', {'serie': episode.url, 'season': episode.season, 'episode': episode.episode, 'fullNameSerie': episode.show})) }}</td>
                    <td>
                        <a href="{{ path('fabex_app_watched_episode', {'serie': episode.url, 'season': episode.season, 'episode': episode.episode}) }}">Watched</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
